/*CSS file for Portfolio Project WeCloud Page*/

*, *:before, *:after{
  box-sizing: border-box;
  padding:0;
  margin:0;
  outline:0;
}

/*Debug
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

html{
  font-size: 10px;
  overflow-x: hidden;
}

body{
  background-color: #ffffff;
  font-family: muli;
  line-height: 1.5;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

/*header*/
.header{
  display: block;
  position: absolute;
  height: 4.6rem;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #ffffff;
  position: fixed;
}

.logo{
  width: 20rem;
  display: block;
  /*background-color: red; test purpose*/
  position: relative;
  left: 60px;
  top: 10px;
}

.logo img{
  width: 100%;
  display: block;
  position: relative;
}

a{
  color: inherit;
  text-decoration: none;
}

.toggle{
  width: 2.7rem;
  position: absolute;
  right: 35px;
  top: 16px;
  background: #ffffff;
  text-align: right;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1.8rem;
  display: none;
}

.header ul{
  width: 253px;
  right: 46px;
  height: 46px;
  position: absolute;
  top: 0px;
  background-color: #ffffff;
}

.header ul li{
  list-style: none;
  display: inline-block;
  padding: 16px 14px;
}

.header ul li a:hover{
  color: #FF7072;
}

.header ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 1.8rem;
}

/*font size*/
h1{
  font-size: 4.8rem;
}

h2{
  font-size: 4rem;
}

h3{
  font-size: 3.4rem;
}

h4{
  font-size: 3.6rem;
}

h5{
  font-size: 2.4rem;
}

h6{
  font-size: 1.8rem;
}

p{
  font-size: 2.1rem;
}

section{
  padding: 12rem 10%;
}

/*hero section*/
.WeCloudhero{
  display: block;
  position: relative;
  top: 46px;
  padding: 15rem 10% 0 10%;
}

.WeCloudhero .herologo{
  width: 7rem;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudhero .herotext{
  width: 100%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.WeCloudhero .herotext h1{
  padding-top: 3rem;
}

.WeCloudhero .herotext h3{
  padding-top: 3rem;
}

/*what is Wecloud*/
.WeCloudIntro{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WeCloudIntro .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudIntro h3{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudIntro p{
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 width: 60%;
}

/*Display Solution*/
.WeCloudDS{
  display: flex;
  flex-direction: row;
  background-color: #202020;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudDS .leftDemo{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.WeCloudDS .iOSDemo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.WeCloudDS .iOSDemo img{
  width: 35%;
  margin-left: 3%;
  margin-right: 3%;
}

.WeCloudDS .button{
  background-color: #8883BB;
  width: 22rem;
  height: 4.2rem;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.WeCloudDS .rightDemo .button{
  width: 24rem;
  margin-top: 7.3rem;
}

.WeCloudDS .button h6{
  font-size: 1.8rem;
  padding-top: 0.8rem;
  text-align: center;
}

.WeCloudDS .button h6:hover{
  color: #ffffff;
}

.WeCloudDS .rightDemo{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.WeCloudDS .rightDemo{
  margin-left: auto;
  margin-right: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.WeCloudDS .rightDemo img{
  width: 100%;
}

/*Design Spec*/
.WeCloudDesignspec{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudDesignspec h5{
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudDesignspec .Line{
  width: 6.6rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudDesignspec .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.WeCloudDesignspec p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudDesignspec .DesignRoles{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.WeCloudDesignspec .Deliverables{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.WeCloudDesignspec .Tools{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

/*Challenge and Solution*/
.WeCloudCS{
  background-color: #202020;
  display: flex;
  flex-direction: row;
}

.WeCloudCS .Challenge{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
}

.WeCloudCS .Solution{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
}

.WeCloudCS .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.WeCloudCS h3{
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.WeCloudCS p{
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

/*Transition Image*/
.WeCloudTransition{
  display: block;
  position: relative;
  padding: 0;
  overflow-x: hidden;
}

.WeCloudTransition img{
  width: 100%;
}

/*Discovery*/
/*title part*/
.WeCloudDiscovery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7.8rem;
}

.WeCloudDiscovery .Dtitle{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.WeCloudDiscovery .Dtitle .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudDiscovery .Dtitle h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudDiscovery .Dtitle .Line{
  width: 6.6rem;
  margin-left: auto;
  margin-right: auto;
}

/*Discovery-User Survey*/
.WeCloudUserSurvey{
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.WeCloudUserSurvey .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudUserSurvey h3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudUserSurvey p{
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudUserSurvey .Line2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudUserSurvey .question{
  text-align: center;
  font-size: 2rem;
  color: #2ABECC;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudUserSurvey ul{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.WeCloudUserSurvey ul li{
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
}

.WeCloudUserSurvey ul li h4{
  text-align: right;
  width: 20%;
  margin-right: 10%;
}

.WeCloudUserSurvey ul li h6{
  text-align: left;
  font-size: 2.4rem;
  width: 60%;
}

/*Discovery-Personas*/
.WeCloudPersonas{
  padding-top: 6rem;
}

.WeCloudPersonas .top{
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
}

.WeCloudPersonas .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudPersonas h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudPersonas .top p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.WeCloudPersonas .groupintro{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudPersonas .Pcontainer{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
}

.WeCloudPersonas .Persona1{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  width: 100%;
}

.WeCloudPersonas .Persona2{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  width: 100%;
}

.WeCloudPersonas .Persona1 .profile{
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudPersonas .Persona2 .profile{
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudPersonas .Persona1 h4{
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudPersonas .Persona2 h4{
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudPersonas .Persona1 h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudPersonas .Persona2 h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudPersonas .Persona1 p{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.WeCloudPersonas .Persona2 p{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.WeCloudPersonas .Persona1 .mark{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.WeCloudPersonas .Persona2 .mark{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.WeCloudPersonas .quotes{
  font-weight: bold;
  font-style: italic;
  padding-top: 4rem;
}

/*Competitor Analysis*/
.WeCloudCA{
  padding-top: 6rem;
}

.WeCloudCA .Ctop{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudCA .Ctop img{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudCA .Ctop h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudCA .Ctop p{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

.WeCloudCA .Brand{
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudCA .Google{
  width: 12rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.WeCloudCA .Dropbox{
  width: 12rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.WeCloudCA .Egnyte{
  width: 12rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

/*Branding*/
.WeCloudBranding{
  background-color: #202020;
  padding-left: 0;
  padding-right: 0;
}

.WeCloudBranding .Btop{
  display: flex;
  flex-direction: column;
}

.WeCloudBranding .Btop .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudBranding .Btop h2{
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudBranding .Btop .Line{
  margin-left: auto;
  margin-right: auto;
}

/*Branding-Identity*/
.WeCloudIdentity{
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudIdentity .left{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 4%;
  margin-right: 4%;
}

.WeCloudIdentity .left .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.WeCloudIdentity .left h3{
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.WeCloudIdentity .left p{
  padding-top: 2.5rem;
  padding-right: 2.5rem;
  color: #ffffff;
  text-align: left;
}

.WeCloudIdentity .right{
  padding-top: 15rem;
  width: 50%;
  margin-left: 4%;
  margin-left: 4%;
}

/*Branding-logo*/
.WeCloudLogoPart{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.WeCloudLogoPart .logotext{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudLogoPart .logotext .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudLogoPart .logotext h3{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.WeCloudLogoPart .logotext p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  width: 60%;
}

.WeCloudLogoPart .logoskecth{
  padding-top:6rem;
  display: flex;
  flex-direction: row;
}

.WeCloudLogoPart .logoskecth .image1{
   width: 50%;
}

.WeCloudLogoPart .logoskecth .image2{
   width: 50%;
}

/*Branding-color*/
.WeCloudColor{
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudColor .text{
  display: flex;
  flex-direction: column;
}

.WeCloudColor .text img{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudColor .text h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  color: #ffffff;
}

.WeCloudColor .display{
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.WeCloudColor .display h5{
  color: #ffffff;
}

.WeCloudColor .Purple{
  display: flex;
  flex-direction: column;
  margin: auto 15%;
}

.WeCloudColor .Blue{
  display: flex;
  flex-direction: column;
  margin: auto 15%;
}

.WeCloudColor .Pink{
  display: flex;
  flex-direction: column;
  margin: auto 15%;
}

.WeCloudColor .display h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
}

/*Branding-Typography*/
.WeCloudTypography{
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudTypography .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
}

.WeCloudTypography .left img{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudTypography .left h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.WeCloudTypography .left p{
  color: #ffffff;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudTypography .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
}

.WeCloudTypography .right .Montserrat{
  color: #ffffff;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: medium;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudTypography .right .OpenSans{
  color: #ffffff;
  font-family: Open Sans;
  font-size: 4rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudTypography .right .vl{
  width: 10%;
}

/*Information Architecture*/
.WeCloudIA{
  padding: 12rem 0;
}

.WeCloudIA .top{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudIA .top .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudIA .top h2{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudIA .top .Line{
  margin-left: auto;
  margin-right: auto;
}

/*IA-User Story and User Flow*/
.WeCloudUSUF{
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

.WeCloudUSUF .top{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudUSUF .top .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudUSUF .top h3{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudUSUF .top p{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.WeCloudUSUF .top h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
}

.WeCloudUSUF .Line2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudUSUF h6{
  color: #8883bb;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.WeCloudUSUF .image .mobile{
  display: none;
}

.WeCloudUSUF .image{
  padding-top: 3.5rem;
  width: 100%;
}

.WeCloudUSUF .image img{
  width: 100%;
}

/*IA-Paper Prototype*/
.WeCloudPP{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.WeCloudPP .top{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudPP .top .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudPP .top h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.WeCloudPP .top p{
  text-align: center;
  width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.WeCloudPP .image{
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
}

.WeCloudPP .image1{
  width: 50%;
}

.WeCloudPP .image2{
  width: 50%;
}

/*IA-Wireframe*/
.WeCloudWireframe{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WeCloudWireframe .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudWireframe h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.WeCloudWireframe p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudWireframe .image{
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudWireframe .image img{
  width: 100%;
}

/*IA-User Testing*/
.WeCloudUT{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.WeCloudUT .top{
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WeCloudUT .top .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudUT h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.WeCloudUT .top p{
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudUT .top .endingtext{
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
}

.WeCloudUT .Line2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudUT h6{
  text-align: center;
  font-size: 2rem;
  color: #8883bb;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudUT .image{
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
}

.WeCloudUT .AM{
  width: 50%;
}

.WeCloudUT .UTimage{
  width: 50%;
}

.WeCloudUT .ending{
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WeCloudUT .ending p{
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudUT .ending .ending1{
  padding-top: 6rem;
  padding-bottom: 2.5rem;
}

/*IA-AB Testing*/
.WeCloudABTesting{
  background-color: rgba(136, 131, 187, 0.35);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 12rem;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudABTesting .top{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudABTesting .top .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudABTesting .top h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudABTesting .top p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}

.WeCloudABTesting .Test1{
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
}

.WeCloudABTesting .Test1 p{
  margin-left: auto;
  margin-right: auto;
}

.WeCloudABTesting .Test1 img{
  padding-top: 2.5rem;
  margin-left: 5%;
  margin-right: 5%;
}

.WeCloudABTesting .UT1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.WeCloudABTesting .Test2{
  padding-top: 6rem;
  justify-content: center;
}

.WeCloudABTesting .Test2 p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.WeCloudABTesting .Test2 img{
  padding-top: 2.5rem;
  margin-left: 5%;
  margin-right: 5%;
}

.WeCloudABTesting .UT2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.WeCloudABTesting .Test3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
}

.WeCloudABTesting .Test3 p{
  margin-left: auto;
  margin-right: auto;
}

.WeCloudABTesting .Test3 img{
  padding-top: 2.5rem;
  margin-left: 5%;
  margin-right: 5%;
}

.WeCloudABTesting .UT3{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Visual Design*/
.WeCloudVisualDesign{
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding-left: 0px;
  padding-right: 0px;
}

.WeCloudVisualDesign .top{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WeCloudVisualDesign .top .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudVisualDesign .top h2{
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudVisualDesign .top .Line{
  margin-left: auto;
  margin-right: auto;
}

/*VD-Onboarding*/
.WeCloudOnboarding{
  padding-top: 6rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudOnboarding .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudOnboarding h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.WeCloudOnboarding p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  width: 60%;
}

.WeCloudOnboarding .onboardingdisplay{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WeCloudOnboarding .onboardingdisplay .iOS{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-top: 6rem;
}

.WeCloudOnboarding .onboardingdisplay .iOS img{
  margin-left: 10%;
  margin-right: 10%;
}

.WeCloudOnboarding .onboardingdisplay .Desktop{
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
}

/*VD-Upload*/
.WeCloudUpload{
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudUpload .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
  width: 50%;
}

.WeCloudUpload .left .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudUpload .left h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.WeCloudUpload .left p{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.WeCloudUpload .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0rem;
}

/*VD-Share Files*/
/*VD-LookForaroommate*/
.WeCloudShare{
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudShare .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

.WeCloudShare .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 0px;
}

.WeCloudShare .right .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudShare .right h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.WeCloudShare .right p{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

/*VD-Organize Files*/
.WeCloudOrganizeFiles{
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudOrganizeFiles .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
  width: 50%;
  padding-top: 0px;
}

.WeCloudOrganizeFiles .left .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudOrganizeFiles .left h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.WeCloudOrganizeFiles .left p{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.WeCloudOrganizeFiles .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

/*VD-Responsive Design*/
.WeCloudResponsiveDesign{
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudResponsiveDesign .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudResponsiveDesign h3{
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudResponsiveDesign .image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 6rem;
}

.WeCloudResponsiveDesign img{
  margin-left: 5%;
  margin-right: 5%;
}

/*Final*/
.WeCloudFinal{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WeCloudFinal .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudFinal h2{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
}

.WeCloudFinal .Line{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  width: 6.6rem;
}

.WeCloudFinal .text{
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
}

.WeCloudFinal p{
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  width: 80%;
}

.WeCloudFinal a{
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.WeCloudFinal h6{
  margin-left: auto;
  margin-right: auto;
  color: #8883BB;
  text-decoration: underline;
}

/*Next Project*/
.WeCloudNextProject{
  background-color: #2ABECC;
  display: flex;
  flex-direction: column;
}

.WeCloudNextProject .text{
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}

.WeCloudNextProject .text h2{
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudNextProject .text a{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
}

.WeCloudNextProject .text h6{
  color: #ffffff;
  text-decoration: underline;
}

.WeCloudNextProject .demo{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.WeCloudNextProject .image1{
  margin-left: 10%;
  margin-right: 10%;
}

.WeCloudNextProject .image2{
  margin-left: 10%;
  margin-right: 10%;
}

.WeCloudNextProject .image3{
  margin-left: 10%;
  margin-right: 10%;
}

/*footer*/
footer{
  background-color: #202020;
  width: 100%;
  height: 30rem;
  padding-top: 6rem;
}

footer h3{
  font-size: 3.2rem;
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
}

footer h6{
  font-size: 2.4rem;
  text-align: center;
  color: #ffffff;
  padding-top: 3rem;
}

.iconset{
  display: block;
  position: relative;
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 4.9rem;
}

.iconset ul{
  width: 218px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  list-style-type: disc;
  top: auto;
  background-color: #202020;
}

.iconset ul li{
  list-style: disc;
  display: inline-block;
  padding: 16px 20px;
}

@media (max-width: 768px){
  /*header*/
  .toggle{
    display: block;
  }

  ul{
    display: none;
  }

  .header ul{
    top: 29px;
    width: 100%;
    right: 0;
    position: relative;
    background-color: #ffffff;
  }

  .header ul li{
    display: block;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
  }

  .header ul li a{
    font-size: 1.4rem;
  }

  .active{
    display: block;
  }

  .logo{
    width: 20rem;
    display: block;
    /*background-color: red;*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
  }

  .logo img{
    width: 60%;
    display: block;
    position: relative;
    top: 0.5rem;
  }

/*font size*/
h1{
  font-size: 3rem;
}

h2{
  font-size: 2.4rem;
}

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.8rem;
}

h5{
  font-size: 1.7rem;
}

h6{
  font-size: 1.6rem;
}

p{
  font-size: 1.7rem;
}

/*Intro*/
.WeCloudIntro p{
 width: 80%;
}

/*Solution*/
.WeCloudDS{
  display: flex;
  flex-direction: column;
}

.WeCloudDS .leftDemo{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudDS .iOSDemo{
  margin-left: auto;
  margin-right: auto;
}

.WeCloudDS .iOSDemo img{
  width: 35%;
  margin-left: 3%;
  margin-right: 3%;
}

.WeCloudDS .leftDemo .button{
  width: 18rem;
  height: 3.5rem;
}

.WeCloudDS .rightDemo .button{
  width: 22rem;
  height: 3.5rem;
  margin-top: 7.3rem;
}

.WeCloudDS .button h6{
  font-size: 1.6rem;
  padding-top: 0.5rem;
  text-align: center;
}

.WeCloudDS .rightDemo{
  width: 100%;
  padding-top: 6rem;
}

.WeCloudDS .rightDemo{
  margin-left: auto;
  margin-right: auto;
}

.WeCloudDS .rightDemo img{
  width: 100%;
}

/*Design Spec*/
.WeCloudDesignspec{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudDesignspec .DesignRoles{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.WeCloudDesignspec .Deliverables{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.WeCloudDesignspec .Tools{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

/*Challeng and Solution*/
.WeCloudCS{
  display: flex;
  flex-direction: column;
}

.WeCloudCS .Challenge{
  margin-left: 0px;
  margin-right: 0px;
}

.WeCloudCS .Solution{
  margin-left: 0px;
  margin-right: 0px;
}

.WeCloudCS p{
  width: 80%;
}

/*Transition*/
.WeCloudTransition img{
  width: 300%;
}

/*Discovery-user survey*/
.WeCloudUserSurvey p{
  width: 80%;
}

.WeCloudUserSurvey .Line2{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.WeCloudUserSurvey .question{
  font-size: 1.7rem;
}

.WeCloudUserSurvey ul li h6{
  font-size: 1.6rem;
}

/*Discover-Personas*/
.WeCloudPersonas .top p{
  width: 80%;
}

.WeCloudPersonas .Pcontainer{
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

.WeCloudPersonas .Persona2{
  padding-top: 6rem;
}

.WeCloudPersonas .Persona1 h4{
  font-size: 1.8rem;
}

.WeCloudPersonas .Persona2 h4{
  font-size: 1.8rem;
}

.WeCloudPersonas .Persona1 p{
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 80%;
}

.WeCloudPersonas .Persona2 p{
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 80%;
}

/*Discovery-CA*/
.WeCloudCA .Ctop p{
  width: 80%;
}

.WeCloudCA .Google{
  width: 6rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.WeCloudCA .Dropbox{
  width: 6rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.WeCloudCA .Egnyte{
  width: 6rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

/*Branding-Identity*/
.WeCloudIdentity{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.WeCloudIdentity .left{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudIdentity .left p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.WeCloudIdentity .right{
  padding-top: 6rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudIdentity .right img{
  width: 100%;
}

/*Branding-Logo*/
.WeCloudLogoPart .logotext p{
  width: 80%;
}

.WeCloudLogoPart .logoskecth{
  display: flex;
  flex-direction: column;
}

.WeCloudLogoPart .logoskecth .image1{
   width: 100%;
}

.WeCloudLogoPart .logoskecth .image2{
   width: 100%;
}

/*Branding-color*/
.WeCloudColor .display{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.WeCloudColor .display h5{
  padding-top: 2.5rem;
}

.WeCloudColor .Blue{
  padding-top: 6rem;
}

.WeCloudColor .Pink{
  padding-top: 6rem;
}

/*Branding-Typography*/
.WeCloudTypography{
  display: flex;
  flex-direction: column;
}

.WeCloudTypography .left{
  margin-left: auto;
  margin-right: auto;
}

.WeCloudTypography .left p{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.WeCloudTypography .right{
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

/*IA-User Story and User Flow*/
.WeCloudUSUF .top p{
  width: 80%;
}

.WeCloudUSUF .Line2{
  width: 80%;
}

.WeCloudUSUF h6{
  font-size: 1.6rem;
}

.WeCloudUSUF .image .desktop{
  display: none;
}

.WeCloudUSUF .image .mobile{
  display: block;
}

.WeCloudUSUF .image img{
  width: 100%;
}

/*IA-PP*/
.WeCloudPP .top p{
  width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.WeCloudPP .image{
  display: flex;
  flex-direction: column;
}

.WeCloudPP .image1{
  width: 100%;
}

.WeCloudPP .image2{
  width: 100%;
}

/*IA-Wireframe*/
.WeCloudWireframe p{
  width: 80%;
}

/*IA-UT*/
.WeCloudUT .top p{
  width: 80%;
}

.WeCloudUT .top .endingtext{
  width: 80%;
}

.WeCloudUT .Line2{
  width: 80%;
}

.WeCloudUT h6{
  font-size: 1.6rem;
}

.WeCloudUT .image{
  display: flex;
  flex-direction: column;
}

.WeCloudUT .AM{
  width: 100%;
}

.WeCloudUT .UTimage{
  width: 100%;
}

.WeCloudUT .ending p{
  width: 80%;
}

.WeCloudUT .ending .ending1{
  padding-top: 6rem;
  padding-bottom: 2.5rem;
}

/*AB Testing*/
.WeCloudABTesting .top p{
  width: 80%;
}

.WeCloudABTesting .UT1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WeCloudABTesting .UT2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WeCloudABTesting .UT3{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Visual Design*/
/*VD-Onboarding*/
.WeCloudOnboarding .onboardingdisplay .iOS{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.WeCloudOnboarding .onboardingdisplay .iOS img{
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 6rem;
  width: 35%;
}

.WeCloudOnboarding .onboardingdisplay .iOS{
  padding-top: 0;
}

.WeCloudOnboarding .onboardingdisplay .Desktop{
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
}

.WeCloudOnboarding .onboardingdisplay .Desktop img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*VD-Upload*/
.WeCloudUpload{
  padding-top: 0rem;
  display: flex;
  flex-direction: column;
}

.WeCloudUpload .left{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 6rem;
}

.WeCloudUpload .left p{
  width: 80%;
  text-align: center;
}

.WeCloudUpload .image{
  padding-top: 6rem;
}

/*VD-Share Files*/
.WeCloudShare{
  padding-top: 0rem;
  display: flex;
  flex-direction: column-reverse;
}

.WeCloudShare .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;;
}

.WeCloudShare .image img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudShare .right{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
}

.WeCloudShare .right p{
  width: 80%;
}

/*VD-Organize Files*/
.WeCloudOrganizeFiles{
  padding-top: 0rem;
  display: flex;
  flex-direction: column;
}

.WeCloudOrganizeFiles .left{
  width: 100%;
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.WeCloudOrganizeFiles .left p{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.WeCloudOrganizeFiles .image{
  padding-top: 6rem;
}

/*VD-Rsponsive Design*/
.WeCloudResponsiveDesign .image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0;
}

.WeCloudResponsiveDesign img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.WeCloudResponsiveDesign .image1{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*Final*/
.WeCloudFinal .Line{
  margin-bottom: 2.5rem;
}

.WeCloudFinal .text{
  display: flex;
  flex-direction: column;
}

.WeCloudFinal p{
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

/*Next Project*/
.WeCloudNextProject .image1{
  display: none;
}

.WeCloudNextProject .image2{
  margin-left: 3%;
  margin-right: 3%;
}

.WeCloudNextProject .image3{
  margin-left: 3%;
  margin-right: 3%;
}

/*footer*/
footer h3{
  font-size: 2rem;
}

footer h6{
  font-size: 1.6rem;
}

}
