/*CSS file for Portfolio Project RooMate Page*/


*, *:before, *:after{
  box-sizing: border-box;
  padding:0;
  margin:0;
  outline:0;
}

/*Debug
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

html{
  font-size: 10px;
  overflow-x: hidden;
}

body{
  background-color: #ffffff;
  font-family: muli;
  line-height: 1.5;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

/*header*/
.header{
  display: block;
  position: absolute;
  height: 4.6rem;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #ffffff;
  position: fixed;
}

.logo{
  width: 20rem;
  display: block;
  /*background-color: red; test purpose*/
  position: relative;
  left: 60px;
  top: 10px;
}

.logo img{
  width: 100%;
  display: block;
  position: relative;
}

a{
  color: inherit;
  text-decoration: none;
}

.toggle{
  width: 2.7rem;
  position: absolute;
  right: 35px;
  top: 16px;
  background: #ffffff;
  text-align: right;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1.8rem;
  display: none;
}

.header ul{
  width: 253px;
  right: 46px;
  height: 46px;
  position: absolute;
  top: 0px;
  background-color: #ffffff;
}

.header ul li{
  list-style: none;
  display: inline-block;
  padding: 16px 14px;
}

.header ul li a:hover{
  color: #FF7072;
}

.header ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 1.8rem;
}

/*font size*/
h1{
  font-size: 4.8rem;
}

h2{
  font-size: 4rem;
}

h3{
  font-size: 3.4rem;
}

h4{
  font-size: 3.6rem;
}

h5{
  font-size: 2.4rem;
}

h6{
  font-size: 1.8rem;
}

p{
  font-size: 2.1rem;
}

section{
  padding: 12rem 10%;
}

/*hero section*/
.hero{
  display: block;
  position: relative;
  top: 46px;
  padding: 15rem 10% 0 10%;
}

.herologo{
  width: 7rem;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.herotext{
  width: 100%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.herotext h1{
  padding-top: 3rem;
}

.herotext h3{
  padding-top: 3rem;
}

/*what is roomate*/
.Intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Intro .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Intro h3{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Intro p{
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 width: 60%;
}

/*Display Solution*/
.DS{
  display: flex;
  flex-direction: column;
  background-color: #202020;
  margin-left: auto;
  margin-right: auto;
}

.iOSDemo{
  display: flex;
  flex-direction: row;
  //flex-wrap: nowrap;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}

.DS img{
  margin-left: 5%;
  margin-right: 5%;
}

.DS .button{
  background-color: #2ABECC;
  width: 22rem;
  height: 4.2rem;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.button h6{
  font-size: 1.8rem;
  padding-top: 0.8rem;
  text-align: center;
}

.button h6:hover{
  color: #ffffff;
}

/*Design Spec*/
.Designspec{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.Designspec h5{
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: auto;
}

.Designspec .Line{
  width: 6.6rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Designspec .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.Designspec p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.DesignRoles{
  width: 30%;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  padding-top: 0;
}

.Deliverables{
  width: 30%;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  padding-top: 0;
}

.Tools{
  width: 30%;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  padding-top: 0;
}

/*Challenge and Solution*/
.CS{
  background-color: #202020;
  display: flex;
  flex-direction: row;
}

.Challenge{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
}

.Solution{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
}

.CS .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.CS h3{
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.CS p{
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

/*Transition Image*/
.Transition{
  display: block;
  position: relative;
  padding: 0;
}

.Transition img{
  width: 100%;
}

/*Discovery*/
/*title part*/
.Discovery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.Dtitle{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.Dtitle .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.Dtitle h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Dtitle .Line{
  width: 6.6rem;
  margin-left: auto;
  margin-right: auto;
}

/*Discovery-User Survey*/
.UserSurvey{
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.UserSurvey .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.UserSurvey h3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.UserSurvey p{
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.UserSurvey .Line2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.UserSurvey .question{
  text-align: center;
  font-size: 2rem;
  color: #2ABECC;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.UserSurvey ul{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.UserSurvey ul li{
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
}

.UserSurvey ul li h4{
  text-align: right;
  width: 30%;
  margin-right: 10%;
}

.UserSurvey ul li h6{
  text-align: left;
  font-size: 2.4rem;
  width: 60%;
}

/*Interview*/
.Interview{
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.left{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.left img{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.left h3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.left p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.right{
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  width: 100%;
}

.right img{
  width: 100%;
}

/*Personas*/
.Personas{
  padding-top: 6rem;
}

.top{
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
}

.Personas .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Personas h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.top p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.Pcontainer{
  display: flex;
  flex-direction: row;
  //justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
}

.Persona1{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  width: 100%;
}

.Persona2{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  width: 100%;
}

.Persona3{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  width: 100%;
}

.Persona1 .profile{
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.Persona2 .profile{
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.Persona3 .profile{
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.Persona1 h4{
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Persona2 h4{
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Persona3 h4{
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Persona1 h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Persona2 h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Persona3 h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Persona1 p{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.Persona2 p{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.Persona3 p{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.Persona1 .mark{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.Persona2 .mark{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.Persona3 .mark{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

/*Competitor Analysis*/
.CA{
  padding-top: 6rem;
}

.Ctop{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.Ctop img{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Ctop h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Ctop p{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

.Brand{
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
}

.RR{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
  width: 100%;
}

.logoset{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.Roomi{
  width: 4.5rem;
  margin-left: 20%;
  margin-right: 20%;
}

.RoomEasy{
  width: 4.5rem;
  margin-left: 20%;
  margin-right: 20%;
}

.RR p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.Airbnb{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
  width: 100%;
}

.Airbnb img{
   margin-left: auto;
   margin-right: auto;
   width: 4.5rem;
   padding-bottom: 2.5rem;
}

.Airbnb p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*Branding*/
.Branding{
  background-color: #202020;
  padding-left: 0;
  padding-right: 0;
}

.Btop{
  display: flex;
  flex-direction: column;
}

.Btop .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.Btop h2{
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Btop .Line{
  margin-left: auto;
  margin-right: auto;
}

/*Branding-Identity*/
.Identity{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.Identity .part1{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.Identity .part1 .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Identity .part1 h3{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.Identity .part1 p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  width: 60%;
}

.part2{
  color: #ffffff;
  display: flex;
  flex-direction:column;
  margin-left: auto;
  margin-right: auto;
}

.part2 li{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  color: #2ABECC;
}

.last{
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
}

.last p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*Branding-logo*/
.LogoPart{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.logotext{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.logotext .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.logotext h3{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.logotext p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  width: 60%;
}

.logoskecth{
  padding-top:6rem;
  display: flex;
  flex-direction: row;
}

.logoskecth .image1{
   width: 50%;
}

.logoskecth .image2{
   width: 50%;
}

/*Branding-color*/
.Color{
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.Color .text{
  display: flex;
  flex-direction: column;
}

.Color .text img{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Color .text h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  color: #ffffff;
}

.Color .display{
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.Color .display h5{
  color: #ffffff;
}

.Blue{
  display: flex;
  flex-direction: column;
  margin: auto 15%;
}

.Black{
  display: flex;
  flex-direction: column;
  margin: auto 15%;
}

.White{
  display: flex;
  flex-direction: column;
  margin: auto 15%;
}

.display h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
}

/*Branding-Typography*/
.Typography{
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.Typography .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
}

.Typography .left img{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Typography .left h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.Typography .left p{
  color: #ffffff;
  text-align: center;
  width: 70%;
}

.Typography .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
}

.Typography .right .Quicksand{
  color: #ffffff;
  font-family: Quicksand;
  font-size: 4rem;
  font-weight: medium;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.Typography .right .Karla{
  color: #ffffff;
  font-family: Karla;
  font-size: 4rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.Typography .right .vl{
  width: 10%;
}

/*Information Architecture*/
.IA{
  padding: 12rem 0;
}

.IA .top{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.IA .top .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.IA .top h2{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.IA .top .Line{
  margin-left: auto;
  margin-right: auto;
}

/*User Story and User Flow*/
.USUF{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.USUF .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.USUF .left .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.USUF .left h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.USUF .left p{
  text-align: center;
  width: 60%;
}

.USUF .image{
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.USUF .image img{
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.map img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*IA-sitemap*/
.Sitemap{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Sitemap .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Sitemap h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 6rem;
}

.Sitemap .map{
  margin-left: auto;
  margin-right: auto;
}

/*IA-Paper Prototype*/
.PP{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.PP .top{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.PP .top .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.PP .top h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.PP .top p{
  text-align: center;
  width: 60%;
}

.PP .image{
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
}

.PP .image1{
  width: 50%;
}

.PP .image2{
  width: 50%;
}

/*IA-Wireframe*/
.Wireframe{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Wireframe .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Wireframe h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.Wireframe p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-left: 10%;
  padding-right: 10%;
}

.Wireframe .image{
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.Wireframe .image img{
  width: 100%;
}

/*IA-User Testing*/
.UT{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.UT .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.UT h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.UT p{
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.UT .Line2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.UT h6{
  text-align: center;
  font-size: 2rem;
  color: #2ABECC;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.UT .button{
  background-color: #2ABECC;
  width: 22rem;
  height: 4.2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.UT .button h6{
  font-size: 1.8rem;
  padding-top: 0.8rem;
  text-align: center;
  color: #000000;
  font-weight: normal;
  }

.UT .button h6:hover{
  color: #ffffff;
}

.feedback{
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
}

.signup{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.signup h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.signup p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.search{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.search h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.search p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*Visual Design*/
.VisualDesign{
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding-left: 0px;
  padding-right: 0px;
}

.VisualDesign .top{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.VisualDesign .top .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.VisualDesign .top h2{
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.VisualDesign .top .Line{
  margin-left: auto;
  margin-right: auto;
}

/*VD-Pnboarding*/
.Onboarding{
  padding-top: 6rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.Onboarding .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Onboarding h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.Onboarding p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  width: 60%;
}

.onboardingdisplay{
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
  justify-content: center;
}

.onboardingdisplay .image1{
  margin-left: 10%;
  margin-right: 10%;
}

.onboardingdisplay .image2{
  margin-left: 10%;
  margin-right: 10%;
}

.onboardingdisplay .image3{
  margin-left: 10%;
  margin-right: 10%;
}

/*VD-Lookforaroom*/
.Lookforaroom{
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.Lookforaroom .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
  width: 50%;
}

.Lookforaroom .left .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Lookforaroom .left h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.Lookforaroom .left p{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
  width: 100%;
}

.Lookforaroom .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0rem;
}

/*VD-LookForaroommate*/
.LookForaroommate{
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.LookForaroommate .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

.LookForaroommate .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 0px;
}

.LookForaroommate .right .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.LookForaroommate .right h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.LookForaroommate .right p{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

/*VD-post*/
.Post{
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.Post .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
  width: 50%;
  padding-top: 0px;
}

.Post .left .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Post .left h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.Post .left p{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
  width: 100%;
}

.Post .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

/*VD-Chat*/
.Chat{
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.Chat .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

.Chat .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
  margin-left: 4%;
  margin-right: 4%;
  width: 50%;
}

.Chat .right .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Chat .right h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.Chat .right p{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

/*Final*/
.Final{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Final .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.Final h2{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
}

.Final .Line{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 6.6rem;
}

.Final p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}

.Final a{
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.Final h6{
  margin-left: auto;
  margin-right: auto;
  color: #2ABECC;
  text-decoration: underline;
}

/*Next Project*/
.NextProject{
  background-color: #8883BB;
  display: flex;
  flex-direction: column;
}

.NextProject .text{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  padding-bottom: 6rem;
}

.NextProject .text h2{
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.NextProject .text a{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
}

.NextProject .text h6{
  color: #ffffff;
  text-decoration: underline;
}

.NextProject .demo{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.NextProject .desktop{
  margin-left: 8%;
  margin-right: 8%;
}

.NextProject .mobile{
  margin-left: 8%;
  margin-right: 8%;
}

/*footer*/
footer{
  background-color: #202020;
  width: 100%;
  height: 30rem;
  padding-top: 6rem;
}

footer h3{
  font-size: 3.2rem;
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
}

footer h6{
  font-size: 2.4rem;
  text-align: center;
  color: #ffffff;
  padding-top: 3rem;
}

.iconset{
  display: block;
  position: relative;
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 4.9rem;
}


.iconset ul{
  width: 218px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  list-style-type: disc;
  top: auto;
  background-color: #202020;
}

.iconset ul li{
  list-style: disc;
  display: inline-block;
  padding: 16px 20px;
}

@media (max-width: 768px){
  .toggle{
    display: block;
  }

  ul{
    display: none;
  }

  .header ul{
    top: 29px;
    width: 100%;
    right: 0;
    position: relative;
    background-color: #ffffff;
  }

  .header ul li{
    display: block;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
  }

  .header ul li a{
    font-size: 1.4rem;
  }

  .active{
    display: block;
  }

  .logo{
    width: 20rem;
    display: block;
    /*background-color: red;*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
  }

  .logo img{
    width: 60%;
    display: block;
    position: relative;
    top: 0.5rem;
  }

  /*Design Spec8*/
  .Designspec{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
  }

  .DesignRoles{
    width: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    padding-top: 0;
  }

  .Deliverables{
    width: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    padding-top: 3rem;
  }

  .Tools{
    width: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    padding-top: 3rem;
  }

  /*footer*/
/*
  footer{
    background-color: #202020;
    margin-top: 6rem;
    width: 100%;
    height: 30rem;
    padding-top: 6rem;
  }*/

  footer h3{
    font-size: 2rem;
  }

  footer h6{
    font-size: 1.6rem;
  }
}
