/*CSS file for Portfolio Home Page*/


*, *:before, *:after{
  box-sizing: border-box;
/*  padding:0;
  margin:0;
  outline:0;*/
}

html{
  font-size: 10px;
}

body{
  background-color: #ffffff;
  font-family: muli;
  line-height: 1.5;
}

/*header*/
.header{
  display: block;
  position: absolute;
  height: 4.6rem;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #ffffff;
  position: fixed;
}

.logo{
  width: 20rem;
  display: block;
  /*background-color: red; test purpose*/
  position: relative;
  left: 60px;
  top: 10px;
}

.logo img{
  width: 100%;
  display: block;
  position: relative;
}

a{
  color: inherit;
  text-decoration: none;
}

.toggle{
  width: 2.7rem;
  position: absolute;
  right: 35px;
  top: 16px;
  background: #ffffff;
  text-align: right;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1.8rem;
  display: none;
}

.header ul{
  width: 253px;
  right: 46px;
  height: 46px;
  position: absolute;
  top: 0px;
  background-color: #ffffff;
}

.header ul li{
  list-style: none;
  display: inline-block;
  padding: 16px 14px;
}

.header ul li a:hover{
  color: #FF7072;
}

.header ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 1.8rem;
}

/*Hero*/
.hero{
  display: block;
  position: relative;
  top: 46px;
  padding-top: 150px;
  padding-bottom: 200px;
  padding-left: 20%;
  padding-right: 20%;
}

.hero img{
  width: 15rem;
  margin-bottom: 6rem;
}

.hero h1{
  font-size: 4.8rem;
  font-family: Montserrat;
}

.hero p{
  font-size: 2.4rem;
  width: 54rem;
  margin-top: 3rem;
  line-height: 3.6rem;
}

/*fp*/
.FP{
  font-size: 3.2rem;
  font-family: Montserrat;
  padding-left: 20%;
}

/*Project*/
.Project1{
  padding: 6rem 20%;
  display: block;
  position: relative;
}

.Project2{
  padding: 6rem 20%;
  display: block;
  position: relative;
}

.display1{
  width: 100%; /*100% means the Project1 part (excluding padding) times 100%*/
  height: 500px;
  background: url("../image/RooMate-Display.svg");
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  /*border-radius: 1.5rem;*/
  position: relative;
}

.display2{
  width: 100%; /*100% means the Project1 part (excluding padding) times 100%*/
  height: 500px;
  background: url("../image/WeCloud-Display.svg");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  /*border-radius: 1.5rem;*/
  position: relative;
}

.projecttext1{
  background-color: #ffffff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  display: block;
}

.projecttext2{
  background-color: #ffffff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  display: block;
}

.projecttext1 h2{
  text-align: center;
  font-size: 3.6rem;
  font-family: Montserrat;
}

.projecttext2 h2{
  text-align: center;
  font-size: 3.6rem;
  font-family: Montserrat;
}

.projecttext1 h5{
  text-align: center;
  font-size: 2.4rem;
  padding-top: 1.5rem;
}

.projecttext2 h5{
  text-align: center;
  font-size: 2.4rem;
  padding-top: 1.5rem;
}

.projecttext1 h6{
  text-align: center;
  font-size: 1.8rem;
  padding-top: 1.5rem;
}

.projecttext2 h6{
  text-align: center;
  font-size: 1.8rem;
  padding-top: 1.5rem;
}

.button1{
  background-color: #2ABECC;
  width: 22rem;
  height: 4.2rem;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.button1 h6{
  font-size: 1.8rem;
  padding-top: 0.9rem;
}

.button1 h6:hover{
  color: #ffffff;
}

.button2{
  background-color: #8883BB;
  width: 22rem;
  height: 4.2rem;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.button2 h6{
  font-size: 1.8rem;
  padding-top: 0.9rem;
}

.button2 h6:hover{
  color: #ffffff;
}

/*footer*/
footer{
  background-color: #202020;
  margin-top: 6rem;
  width: 100%;
  height: 30rem;
  padding-top: 6rem;
}

footer h3{
  font-size: 3.2rem;
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
}

footer h6{
  font-size: 2.4rem;
  text-align: center;
  color: #ffffff;
  padding-top: 3rem;
}

.iconset{
  display: block;
  position: relative;
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 4.9rem;
}


.iconset ul{
  width: 218px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  list-style-type: disc;
  top: auto;
  background-color: #202020;
}

.iconset ul li{
  list-style: disc;
  display: inline-block;
  padding: 16px 20px;
}

@media (max-width: 768px){
  .toggle{
    display: block;
  }

  ul{
    display: none;
  }

  .header ul{
    top: 29px;
    width: 100%;
    right: 0;
    position: relative;
    background-color: #ffffff;
  }

  .header ul li{
    display: block;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
  }

  .header ul li a{
    font-size: 1.4rem;
  }

  .active{
    display: block;
  }

  .logo{
    width: 20rem;
    display: block;
    /*background-color: red;*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
  }

  .logo img{
    width: 60%;
    display: block;
    position: relative;
    top: 0.5rem;
  }

/*hero*/
.hero{
  padding-top: 150px;
  padding-bottom: 180px;
}
.hero img{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}

  .hero h1{
    font-size: 3rem;
    font-family: Montserrat;
  }

  .hero p{
    font-size: 1.8rem;
    margin-top: 3rem;
    width: 100%;
  }

/*fp*/
  .FP{
    font-size: 2rem;
  }

/*project*/
  .Project1{
    padding: 6rem 20%;
  }

  .Project2{
    padding: 6rem 20%;
  }

  .display1{
    height: 400px;
    background-size: 200%;
    background-position: center;
  }

  .display2{
    height: 400px;
    background-size: 270%;
    background-position: left top;
  }

/*  .projecttext1{
    background-color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    display: block;
  }

  .projecttext2{
    background-color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    display: block;
  }*/

  .projecttext1 h2{
    font-size: 2.4rem;
  }

  .projecttext2 h2{
    font-size: 2.4rem;
  }

  .projecttext1 h5{
    font-size: 1.7rem;
  }

  .projecttext2 h5{
    font-size: 1.7rem;
  }

  .projecttext1 h6{
    font-size: 1.6rem;
  }

  .projecttext2 h6{
    font-size: 1.6rem;
  }

  .button1{
    width: 18rem;
    height: 3.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .button1 h6{
    font-size: 1.6rem;
    padding-top: 0.6rem;
  }

  .button2{
    width: 18rem;
    height: 3.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .button2 h6{
    font-size: 1.6rem;
    padding-top: 0.6rem;
  }

  /*footer*/
/*
  footer{
    background-color: #202020;
    margin-top: 6rem;
    width: 100%;
    height: 30rem;
    padding-top: 6rem;
  }*/

  footer h3{
    font-size: 2rem;
  }

  footer h6{
    font-size: 1.6rem;
  }


}
