/*CSS file for Portfolio Project RooMate Page*/

*, *:before, *:after{
  box-sizing: border-box;
  padding:0;
  margin:0;
  outline:0;
}

/*Debug
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

html{
  font-size: 10px;
  overflow-x: hidden;
}

body{
  background-color: #ffffff;
  font-family: muli;
  line-height: 1.5;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

/*header*/
.header{
  display: block;
  position: absolute;
  height: 4.6rem;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #ffffff;
  position: fixed;
}

.logo{
  width: 20rem;
  display: block;
  /*background-color: red; test purpose*/
  position: relative;
  left: 60px;
  top: 10px;
}

.logo img{
  width: 100%;
  display: block;
  position: relative;
}

a{
  color: inherit;
  text-decoration: none;
}

.toggle{
  width: 2.7rem;
  position: absolute;
  right: 35px;
  top: 16px;
  background: #ffffff;
  text-align: right;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1.8rem;
  display: none;
}

.header ul{
  width: 253px;
  right: 46px;
  height: 46px;
  position: absolute;
  top: 0px;
  background-color: #ffffff;
}

.header ul li{
  list-style: none;
  display: inline-block;
  padding: 16px 14px;
}

.header ul li a:hover{
  color: #FF7072;
}

.header ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 1.8rem;
}

/*font size*/
h1{
  font-size: 4.8rem;
}

h2{
  font-size: 4rem;
}

h3{
  font-size: 3.4rem;
}

h4{
  font-size: 3.6rem;
}

h5{
  font-size: 2.4rem;
}

h6{
  font-size: 1.8rem;
}

p{
  font-size: 2.1rem;
}

section{
  padding: 12rem 10%;
}

/*hero section*/
.RooMatehero{
  display: block;
  position: relative;
  top: 46px;
  padding: 15rem 10% 0 10%;
}

.RooMatehero .herologo{
  width: 7rem;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.RooMatehero .herotext{
  width: 100%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.RooMatehero .herotext h1{
  padding-top: 3rem;
}

.RooMatehero .herotext h3{
  padding-top: 3rem;
}

/*what is roomate*/
.RooMateIntro{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RooMateIntro .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateIntro h3{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateIntro p{
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 width: 60%;
}

/*Display Solution*/
.RooMateDS{
  display: flex;
  flex-direction: column;
  background-color: #202020;
  margin-left: auto;
  margin-right: auto;
}

.RooMateDS .iOSDemo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}

.RooMateDS img{
  margin-left: 5%;
  margin-right: 5%;
}

.RooMateDS .button{
  background-color: #2ABECC;
  width: 22rem;
  height: 4.2rem;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.RooMateDS .button h6{
  font-size: 1.8rem;
  padding-top: 0.8rem;
  text-align: center;
}

.RooMateDS .button h6:hover{
  color: #ffffff;
}

/*Design Spec*/
.RooMateDesignspec{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.RooMateDesignspec h5{
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateDesignspec .Line{
  width: 6.6rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateDesignspec .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.RooMateDesignspec p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.RooMateDesignspec .DesignRoles{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.RooMateDesignspec .Deliverables{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.RooMateDesignspec .Tools{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

/*Challenge and Solution*/
.RooMateCS{
  background-color: #202020;
  display: flex;
  flex-direction: row;
}

.RooMateCS .Challenge{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
}

.RooMateCS .Solution{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
}

.RooMateCS .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.RooMateCS h3{
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.RooMateCS p{
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

/*Transition Image*/
.RooMateTransition{
  display: block;
  position: relative;
  padding: 0;
}

.RooMateTransition img{
  width: 100%;
}

/*Discovery*/
/*title part*/
.RooMateDiscovery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.RooMateDiscovery .Dtitle{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.RooMateDiscovery .Dtitle .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateDiscovery .Dtitle h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateDiscovery .Dtitle .Line{
  width: 6.6rem;
  margin-left: auto;
  margin-right: auto;
}

/*Discovery-User Survey*/
.RooMateUserSurvey{
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.RooMateUserSurvey .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateUserSurvey h3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateUserSurvey p{
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.RooMateUserSurvey .Line2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateUserSurvey .question{
  text-align: center;
  font-size: 2rem;
  color: #2ABECC;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.RooMateUserSurvey ul{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.RooMateUserSurvey ul li{
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
}

.RooMateUserSurvey ul li h4{
  text-align: right;
  width: 20%;
  margin-right: 10%;
}

.RooMateUserSurvey ul li h6{
  text-align: left;
  font-size: 2.4rem;
  width: 60%;
}

/*Interview*/
.RooMateInterview{
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateInterview .left{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.RooMateInterview .left img{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateInterview .left h3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateInterview .left p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.RooMateInterview .right{
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  width: 100%;
}

.RooMateInterview .right img{
  width: 100%;
}

/*Discovery-Personas*/
.RooMatePersonas{
  padding-top: 6rem;
}

.RooMatePersonas .top{
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
}

.RooMatePersonas .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMatePersonas h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMatePersonas .top p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.RooMatePersonas .Pcontainer{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
}

.RooMatePersonas .Persona1{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  width: 100%;
}

.RooMatePersonas .Persona2{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  width: 100%;
}

.RooMatePersonas .Persona3{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  width: 100%;
}

.RooMatePersonas .Persona1 .profile{
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMatePersonas .Persona2 .profile{
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMatePersonas .Persona3 .profile{
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMatePersonas .Persona1 h4{
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMatePersonas .Persona2 h4{
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMatePersonas .Persona3 h4{
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMatePersonas .Persona1 h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMatePersonas .Persona2 h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMatePersonas .Persona3 h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMatePersonas .Persona1 p{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.RooMatePersonas .Persona2 p{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.RooMatePersonas .Persona3 p{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.RooMatePersonas .Persona1 .mark{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.RooMatePersonas .Persona2 .mark{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.RooMatePersonas .Persona3 .mark{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
}

/*Competitor Analysis*/
.RooMateCA{
  padding-top: 6rem;
}

.RooMateCA .Ctop{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateCA .Ctop img{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateCA .Ctop h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateCA .Ctop p{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

.RooMateCA .Brand{
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
}

.RooMateCA .RR{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
  width: 100%;
}

.RooMateCA .logoset{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.RooMateCA .Roomi{
  width: 4.5rem;
  margin-left: 20%;
  margin-right: 20%;
}

.RooMateCA .RoomEasy{
  width: 4.5rem;
  margin-left: 20%;
  margin-right: 20%;
}

.RooMateCA .RR p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.RooMateCA .Airbnb{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
  width: 100%;
}

.RooMateCA .Airbnb img{
   margin-left: auto;
   margin-right: auto;
   width: 4.5rem;
   padding-bottom: 2.5rem;
}

.RooMateCA .Airbnb p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*Branding*/
.RooMateBranding{
  background-color: #202020;
  padding-left: 0;
  padding-right: 0;
}

.RooMateBranding .Btop{
  display: flex;
  flex-direction: column;
}

.RooMateBranding .Btop .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateBranding .Btop h2{
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateBranding .Btop .Line{
  margin-left: auto;
  margin-right: auto;
}

/*Branding-Identity*/
.RooMateIdentity{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.RooMateIdentity .part1{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateIdentity .part1 .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateIdentity .part1 h3{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.RooMateIdentity .part1 p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  width: 60%;
}

.RooMateIdentity .part2{
  color: #ffffff;
  display: flex;
  flex-direction:column;
  margin-left: auto;
  margin-right: auto;
}

.RooMateIdentity .part2 li{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  color: #2ABECC;
}

.RooMateIdentity .last{
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateIdentity .last p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*Branding-logo*/
.RooMateLogoPart{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.RooMateLogoPart .logotext{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateLogoPart .logotext .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateLogoPart .logotext h3{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.RooMateLogoPart .logotext p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  width: 60%;
}

.RooMateLogoPart .logoskecth{
  padding-top:6rem;
  display: flex;
  flex-direction: row;
}

.RooMateLogoPart .logoskecth .image1{
   width: 50%;
}

.RooMateLogoPart .logoskecth .image2{
   width: 50%;
}

/*Branding-color*/
.RooMateColor{
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateColor .text{
  display: flex;
  flex-direction: column;
}

.RooMateColor .text img{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateColor .text h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  color: #ffffff;
}

.RooMateColor .display{
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.RooMateColor .display h5{
  color: #ffffff;
}

.RooMateColor .Blue{
  display: flex;
  flex-direction: column;
  margin: auto 15%;
}

.RooMateColor .Black{
  display: flex;
  flex-direction: column;
  margin: auto 15%;
}

.RooMateColor .White{
  display: flex;
  flex-direction: column;
  margin: auto 15%;
}

.RooMateColor .display h5{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
}

/*Branding-Typography*/
.RooMateTypography{
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateTypography .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
}

.RooMateTypography .left img{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateTypography .left h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.RooMateTypography .left p{
  color: #ffffff;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.RooMateTypography .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
}

.RooMateTypography .right .Quicksand{
  color: #ffffff;
  font-family: Quicksand;
  font-size: 4rem;
  font-weight: medium;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.RooMateTypography .right .Karla{
  color: #ffffff;
  font-family: Karla;
  font-size: 4rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.RooMateTypography .right .vl{
  width: 10%;
}

/*Information Architecture*/
.RooMateIA{
  padding: 12rem 0;
}

.RooMateIA .top{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.RooMateIA .top .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateIA .top h2{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateIA .top .Line{
  margin-left: auto;
  margin-right: auto;
}

/*User Story and User Flow*/
.RooMateUSUF{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.RooMateUSUF .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateUSUF .left .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateUSUF .left h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateUSUF .left p{
  text-align: center;
  width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.RooMateUSUF .image{
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateUSUF .image img{
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.RooMateUSUF .map img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*IA-sitemap*/
.RooMateSitemap{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RooMateSitemap .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateSitemap h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 6rem;
}

.RooMateSitemap .map{
  margin-left: auto;
  margin-right: auto;
}

.RooMateSitemap .map img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*IA-Paper Prototype*/
.RooMatePP{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.RooMatePP .top{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMatePP .top .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMatePP .top h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.RooMatePP .top p{
  text-align: center;
  width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.RooMatePP .image{
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
}

.RooMatePP .image1{
  width: 50%;
}

.RooMatePP .image2{
  width: 50%;
}

/*IA-Wireframe*/
.RooMateWireframe{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RooMateWireframe .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateWireframe h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.RooMateWireframe p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateWireframe .image{
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateWireframe .image img{
  width: 100%;
}

/*IA-User Testing*/
.RooMateUT{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateUT .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateUT h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.RooMateUT p{
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.RooMateUT .Line2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateUT h6{
  text-align: center;
  font-size: 2rem;
  color: #2ABECC;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.RooMateUT .button{
  background-color: #2ABECC;
  width: 22rem;
  height: 4.2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.RooMateUT .button h6{
  font-size: 1.8rem;
  padding-top: 0.8rem;
  text-align: center;
  color: #000000;
  font-weight: normal;
  }

.RooMateUT .button h6:hover{
  color: #ffffff;
}

.RooMateUT .feedback{
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
}

.RooMateUT .signup{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.RooMateUT .signup h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.RooMateUT .signup p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.RooMateUT .search{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.RooMateUT .search h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.RooMateUT .search p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*Visual Design*/
.RooMateVisualDesign{
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding-left: 0px;
  padding-right: 0px;
}

.RooMateVisualDesign .top{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RooMateVisualDesign .top .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateVisualDesign .top h2{
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateVisualDesign .top .Line{
  margin-left: auto;
  margin-right: auto;
}

/*VD-Onboarding*/
.RooMateOnboarding{
  padding-top: 6rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateOnboarding .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateOnboarding h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.RooMateOnboarding p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  width: 60%;
}

.RooMateOnboarding .onboardingdisplay{
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
  justify-content: center;
}

.RooMateOnboarding .onboardingdisplay .image1{
  margin-left: 10%;
  margin-right: 10%;
}

.RooMateOnboarding .onboardingdisplay .image2{
  margin-left: 10%;
  margin-right: 10%;
}

.RooMateOnboarding .onboardingdisplay .image3{
  margin-left: 10%;
  margin-right: 10%;
}

/*VD-Lookforaroom*/
.RooMateLookforaroom{
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateLookforaroom .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
  width: 50%;
}

.RooMateLookforaroom .left .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateLookforaroom .left h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.RooMateLookforaroom .left p{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.RooMateLookforaroom .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0rem;
}

/*VD-LookForaroommate*/
.RooMateLookForaroommate{
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateLookForaroommate .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

.RooMateLookForaroommate .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 0px;
}

.RooMateLookForaroommate .right .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateLookForaroommate .right h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.RooMateLookForaroommate .right p{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

/*VD-post*/
.RooMatePost{
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMatePost .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
  width: 50%;
  padding-top: 0px;
}

.RooMatePost .left .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMatePost .left h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.RooMatePost .left p{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.RooMatePost .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

/*VD-Chat*/
.RooMateChat{
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateChat .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

.RooMateChat .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
  margin-left: 4%;
  margin-right: 4%;
  width: 50%;
}

.RooMateChat .right .icon{
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateChat .right h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
}

.RooMateChat .right p{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

/*VD-Prototype*/
.RooMateVisualDesign .RooMateprototype{
  padding-top: 12rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateVisualDesign .RooMateprototype p{
  color: #ffffff;
}

.RooMateVisualDesign .button{
  background-color: #2ABECC;
  width: 22rem;
  height: 4.2rem;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.RooMateVisualDesign .button h6{
  font-size: 1.8rem;
  padding-top: 0.8rem;
  text-align: center;
}

.RooMateVisualDesign .button h6:hover{
  color: #ffffff;
}


/*Final*/
.RooMateFinal{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RooMateFinal .icon{
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateFinal h2{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
}

.RooMateFinal .Line{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 6.6rem;
}

.RooMateFinal p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}

.RooMateFinal a{
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.RooMateFinal h6{
  margin-left: auto;
  margin-right: auto;
  color: #2ABECC;
  text-decoration: underline;
}

/*Next Project*/
.RooMateNextProject{
  background-color: #8883BB;
  display: flex;
  flex-direction: column;
}

.RooMateNextProject .text{
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}

.RooMateNextProject .text h2{
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.RooMateNextProject .text a{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
}

.RooMateNextProject .text h6{
  color: #ffffff;
  text-decoration: underline;
}

.RooMateNextProject .demo{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.RooMateNextProject .desktop{
  margin-left: 8%;
  margin-right: 8%;
}

.RooMateNextProject .mobile{
  margin-left: 8%;
  margin-right: 8%;
}

/*footer*/
footer{
  background-color: #202020;
  width: 100%;
  height: 30rem;
  padding-top: 6rem;
}

footer h3{
  font-size: 3.2rem;
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
}

footer h6{
  font-size: 2.4rem;
  text-align: center;
  color: #ffffff;
  padding-top: 3rem;
}

.iconset{
  display: block;
  position: relative;
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 4.9rem;
}

.iconset ul{
  width: 218px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  list-style-type: disc;
  top: auto;
  background-color: #202020;
}

.iconset ul li{
  list-style: disc;
  display: inline-block;
  padding: 16px 20px;
}

@media (max-width: 768px){
  /*header*/
  .toggle{
    display: block;
  }

  ul{
    display: none;
  }

  .header ul{
    top: 29px;
    width: 100%;
    right: 0;
    position: relative;
    background-color: #ffffff;
  }

  .header ul li{
    display: block;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
  }

  .header ul li a{
    font-size: 1.4rem;
  }

  .active{
    display: block;
  }

  .logo{
    width: 20rem;
    display: block;
    /*background-color: red;*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
  }

  .logo img{
    width: 60%;
    display: block;
    position: relative;
    top: 0.5rem;
  }

/*font size*/
h1{
  font-size: 3rem;
}

h2{
  font-size: 2.4rem;
}

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.8rem;
}

h5{
  font-size: 1.7rem;
}

h6{
  font-size: 1.6rem;
}

p{
  font-size: 1.7rem;
}

/*Intro*/
.RooMateIntro p{
 width: 80%;
}

/*Solution*/
.RooMateDS img{
  width: 35%;
  margin-left: 2%;
  margin-right: 2%;
}

.RooMateDS .button{
  width: 18rem;
  height: 3.5rem;
}

.RooMateDS .button h6{
  font-size: 1.6rem;
  padding-top: 0.5rem;
  text-align: center;
}

/*Design Spec*/
.RooMateDesignspec{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateDesignspec .DesignRoles{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.RooMateDesignspec .Deliverables{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.RooMateDesignspec .Tools{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

/*Challeng and Solution*/
.RooMateCS{
  display: flex;
  flex-direction: column;
}

.RooMateCS .Challenge{
  margin-left: 0px;
  margin-right: 0px;
}

.RooMateCS .Solution{
  margin-left: 0px;
  margin-right: 0px;
}

.RooMateCS p{
  width: 80%;
}

/*Transition*/
.RooMateTransition img{
	width: 200%;
}

/*Discovery-user survey*/
.RooMateUserSurvey p{
  width: 80%;
}

.RooMateUserSurvey .Line2{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.RooMateUserSurvey .question{
  font-size: 1.7rem;
}

.RooMateUserSurvey ul li h6{
  font-size: 1.6rem;
}

/*Discovery-Interview*/
.RooMateInterview .left p{
  width: 80%;
}

.RooMateInterview .right img{
  width: 100%;
}

/*Discover-Personas*/
.RooMatePersonas .top p{
  width: 80%;
}

.RooMatePersonas .Pcontainer{
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

.RooMatePersonas .Persona2{
  padding-top: 6rem;
}

.RooMatePersonas .Persona3{
  padding-top: 6rem;
}

.RooMatePersonas .Persona1 h4{
  font-size: 1.8rem;
}

.RooMatePersonas .Persona2 h4{
  font-size: 1.8rem;
}

.RooMatePersonas .Persona3 h4{
  font-size: 1.8rem;
}

.RooMatePersonas .Persona1 p{
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 80%;
}

.RooMatePersonas .Persona2 p{
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 80%;
}

.RooMatePersonas .Persona3 p{
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 80%;
}

/*Discovery-CA*/
.RooMateCA .Ctop p{
  width: 80%;
}

.RooMateCA .Brand{
  display: flex;
  flex-direction: column;
}

.RooMateCA .RR{
  margin-left: auto;
  margin-right: auto;
}

.RooMateCA .RR p{
  width: 80%;
}

.RooMateCA .Airbnb{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
}

.RooMateCA .Airbnb p{
  width: 80%;
}

/*Branding*/
/*Branding-Identity*/
.RooMateIdentity .part1 p{
  width: 80%;
}

.RooMateIdentity .part2{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.RooMateIdentity .last p{
  width: 80%;
}

/*Branding-Logo*/
.RooMateLogoPart .logotext p{
  width: 80%;
}

.RooMateLogoPart .logoskecth{
  display: flex;
  flex-direction: column;
}

.RooMateLogoPart .logoskecth .image1{
   width: 100%;
}

.RooMateLogoPart .logoskecth .image2{
   width: 100%;
}

/*Branding-color*/
.RooMateColor .display{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.RooMateColor .display h5{
  padding-top: 2.5rem;
}

.RooMateColor .Black{
  padding-top: 6rem;
}

.RooMateColor .White{
  padding-top: 6rem;
}

/*Branding-Typography*/
.RooMateTypography{
  display: flex;
  flex-direction: column;
}

.RooMateTypography .left{
  margin-left: auto;
  margin-right: auto;
}

.RooMateTypography .left p{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.RooMateTypography .right{
  margin-left: auto;
  margin-right: auto;
	padding-top: 6rem;
}

/*Information Architecture*/
/*IA-USUF*/
.RooMateUSUF .left p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*IA-PP*/
.RooMatePP .top p{
  width: 80%;
}

.RooMatePP .image{
  display: flex;
  flex-direction: column;
}

.RooMatePP .image1{
  width: 100%;
}

.RooMatePP .image2{
  width: 100%;
}

/*IA-Wireframe*/
.RooMateWireframe p{
  width: 80%;
}

/*IA-User Testing*/
.RooMateUT p{
  width: 80%;
}

.RooMateUT .Line2{
  width: 80%;
}

.RooMateUT h6{
  font-size: 1.6rem;
  color: #2ABECC;
}

.RooMateUT .feedback{
  display: flex;
  flex-direction: column;
}

.RooMateUT .signup{
  width: 100%;
}

.RooMateUT .signup p{
  width: 80%;
}

.RooMateUT .search{
  width: 100%;
  padding-top: 6rem;
}

.RooMateUT .search p{
  width: 80%;
}

.RooMateUT .button{
  width: 18rem;
  height: 3.5rem;
}

.RooMateUT .button h6{
  font-size: 1.6rem;
  padding-top: 0.5rem;
  text-align: center;
}

/*VD-Pnboarding*/
.RooMateOnboarding p{
  width: 80%;
}

.RooMateOnboarding .onboardingdisplay{
  display: flex;
  flex-direction: column;
}

.RooMateOnboarding .onboardingdisplay .image1{
  display: none;
}

.RooMateOnboarding .onboardingdisplay .image2{
  padding-top: 0rem;
}

.RooMateOnboarding .onboardingdisplay .image3{
  display: none;
}

  /*VD-Lookforaroom*/
.RooMateLookforaroom{
  padding-top: 0rem;
  display: flex;
  flex-direction: column;
}

.RooMateLookforaroom .left{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 6rem;
}

.RooMateLookforaroom .left p{
  width: 80%;
  text-align: center;
}

.RooMateLookforaroom .image{
  padding-top: 6rem;
}

/*VD-LookForaroommate*/
.RooMateLookForaroommate{
  padding-top: 0rem;
  display: flex;
  flex-direction: column-reverse;
}

.RooMateLookForaroommate .image{
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;;
}

.RooMateLookForaroommate .right{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
}

.RooMateLookForaroommate .right p{
  width: 80%;
}

/*VD-post*/
.RooMatePost{
  padding-top: 0rem;
  display: flex;
  flex-direction: column;
}

.RooMatePost .left{
  width: 100%;
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMatePost .left p{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.RooMatePost .image{
  padding-top: 6rem;
}

/*VD-Chat*/
.RooMateChat{
  padding-top: 0rem;
  display: flex;
  flex-direction: column-reverse;
}

.RooMateChat .image{
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.RooMateChat .right{
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.RooMateChat .right p{
  width: 80%;
}

.RooMateprototype .button h6{
  font-size: 1.6rem;
  padding-top: 0.5rem;
  text-align: center;
}

.RooMateprototype .button{
  width: 18rem;
  height: 3.5rem;
}

/*Final*/
.RooMateFinal p{
  width: 80%;
}

/*Next Project*/
.RooMateNextProject .demo{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.RooMateNextProject .desktop{
  margin-left: auto;
  margin-right: auto;
}

.RooMateNextProject .mobile{
  display: none;
}

/*footer*/
footer h3{
  font-size: 2rem;
}

footer h6{
  font-size: 1.6rem;
}
}
